n8n_workflows/Data Ingestion.json
{
  "name": "Data Ingestion",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "6c3c0fc9-85fb-4f20-9729-8e4a296da08a",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "14FizLz1RrAS6EmDnn-jfuniPribcX24N",
          "mode": "list",
          "cachedResultName": "AutOps Drive knowledge02.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/14FizLz1RrAS6EmDnn-jfuniPribcX24N/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        224,
        0
      ],
      "id": "9d79ba00-1d7e-4710-84a5-44c2b7662822",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "8jtPazglibOWr0Nu",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        448,
        0
      ],
      "id": "09fae406-55f2-42a4-8c46-e1a696826718",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "autops-knowledge",
          "mode": "list",
          "cachedResultName": "autops-knowledge"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        704,
        0
      ],
      "id": "de1f3a75-c318-4e85-b5ee-fc7bb733eec1",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "OYR1bL70etx9hXtW",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.text }}",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        800,
        224
      ],
      "id": "7af7ab4f-cadf-4427-ae33-4c9b8bc162a5",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "modelName": "sentence-transformers/all-MiniLM-L6-v2",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsHuggingFaceInference",
      "typeVersion": 1,
      "position": [
        672,
        224
      ],
      "id": "7848f44b-f43b-46f9-9f7b-6f77d0e11f3c",
      "name": "Embeddings HuggingFace Inference",
      "credentials": {
        "huggingFaceApi": {
          "id": "iFtlpgomlmK6fOKl",
          "name": "HuggingFaceApi account"
        }
      }
    },
    {
      "parameters": {
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        880,
        432
      ],
      "id": "aa66b808-9ffd-4697-81f6-ab45656c1f80",
      "name": "Recursive Character Text Splitter"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings HuggingFace Inference": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "40e3cb4b-bf3a-4f98-a5dd-2edadf062cdb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "967ff67324bcca2bd3fe91574d6feed3ec592e67da5d08bbc161e0078dd094e6"
  },
  "id": "Qu91jssPrpzrfpFI",
  "tags": []
}