n8n_workflows/Nginx SSH Tool.json
{
  "name": "Nginx SSH Tool",
  "nodes": [
    {
      "parameters": {
        "command": "={{ $json.command }}"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        816,
        32
      ],
      "id": "26d7a97e-e54b-4688-8611-9a6f2f46b666",
      "name": "Execute a command",
      "credentials": {
        "sshPassword": {
          "id": "4H7s9SU0Lr94ewEY",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "command"
            }
          ]
        }
      },
      "id": "47ba7c4b-7495-479e-8e84-ae7890d52b33",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        480,
        32
      ]
    },
    {
      "parameters": {
        "jsCode": "const command = $json.command || '';\n\nconst chainPatterns = [';', '&&', '||', '|', '`', '$('];\nfor (const p of chainPatterns) {\n  if (command.includes(p)) {\n    throw new Error(`Blocked: command contains disallowed chaining/substitution sequence \"${p}\"`);\n  }\n}\n\nconst forbiddenPathPatterns = [\n  /\\.env\\b/i,\n  /\\.ssh\\//i,\n  /id_rsa/i,\n  /credentials/i,\n  /\\.bash_history/i,\n  /\\.mysql_history/i,\n  /\\/etc\\/shadow/i,\n  /\\/etc\\/passwd/i,\n  /\\.sql\\b/i,\n  /\\.dump\\b/i\n];\nfor (const re of forbiddenPathPatterns) {\n  if (re.test(command)) {\n    throw new Error(`Blocked: command references a forbidden path or credential pattern (matched ${re})`);\n  }\n}\n\nconst forbiddenScope = ['n8n', 'nginx', 'certbot', 'discord-bot'];\nfor (const name of forbiddenScope) {\n  if (command.toLowerCase().includes(name)) {\n    throw new Error(`Blocked: command references out-of-scope service \"${name}\"`);\n  }\n}\n\nreturn [{ json: { command } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        144
      ],
      "id": "1b4be977-4388-42bd-a11b-a0f00d00527f",
      "name": "Validate Command"
    },
    {
      "parameters": {
        "jsCode": "const maxLength = 3000;\n\nfunction truncate(str) {\n  if (typeof str !== 'string' || str.length <= maxLength) return str;\n  return str.slice(0, maxLength) + `\\n...[truncated ${str.length - maxLength} characters]`;\n}\n\nreturn $input.all().map(item => {\n  const data = { ...item.json };\n  data.stdout = truncate(data.stdout);\n  data.stderr = truncate(data.stderr);\n  return { json: data };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        80
      ],
      "id": "f9ca66cb-61ff-4051-ad8b-480840719e43",
      "name": "Truncate Output"
    }
  ],
  "pinData": {
    "Start": [
      {
        "json": {
          "command": null
        }
      }
    ]
  },
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Validate Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Command": {
      "main": [
        [
          {
            "node": "Execute a command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a command": {
      "main": [
        [
          {
            "node": "Truncate Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "ecefa3ed-b2fd-47dc-b0cd-b049450fc2be",
  "meta": {
    "instanceId": "967ff67324bcca2bd3fe91574d6feed3ec592e67da5d08bbc161e0078dd094e6"
  },
  "id": "9id3yqNjPk3Ztdj3",
  "tags": []
}